* {
    margin: 0;
    padding: 0;
}

@include breakpoint-up(large) {

    .desktop-container-1 {
        display: inline-block;
        // position: absolute;
        width: 75%;
    }

    .desktop1 {
        display: flex;

        .card1 {
            display: inline-block;
            margin-top: 3.125rem;
            margin-left: 4.25rem;
        }

        .card2 {
            display: inline-block;
            margin-top: 3.125rem;
            margin-left: 1.875rem;
        }
    }

    .desktop2 {
        display: flex;

        .card3 {
            display: inline-block;
            margin-top: 1.875rem;
            margin-left: 4.25rem;
            margin-bottom: 3.125rem;
        }

        .card4 {
            display: inline-block;
            margin-top: 1.875rem;
            margin-left: 1.875rem;
            margin-bottom: 3.125rem;
        }
    }

    .desktop-container-2 {
        display: inline-block;
        position: absolute;
        
        .card5 {
            width: 65%;
            display: inline-block;
            margin-top: 3.125rem;
            margin-left: 2.875rem;
            margin-bottom: 3.125rem;
            // margin-right: 0rem;
        }
    }
}

@include breakpoint-up(medium) {

    .desktop1 {
        // width: 100%;
        display: flex;

        .card1 {
            display: inline-block;
            margin-top: 3.125rem;
            margin-left: 0.875rem;
        }

        .card2 {
            display: inline-block;
            margin-top: 3.125rem;
            margin-left: 1.875rem;
        }
    }

    .desktop2 {
        display: flex;

        .card3 {
            display: inline-block;
            margin-top: 1.875rem;
            margin-left: 0.875rem;
        }

        .card4 {
            display: inline-block;
            margin-top: 1.875rem;
            margin-left: 1.875rem;
        }
    }

    .desktop-container-2 {

        display: inline-block;

        .card5 {
            display: inline-block;
            margin-top: 2.875rem;
            margin-bottom: 3.125rem;
            margin-left: 2.875rem;
            margin-right: 2.5625rem;
        }
    }
}
